* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.row {
    perspective: 1000px;
}

.card {
    width: 300px;
    height: 400px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
}

.content {
    padding: 30px;
    color: #fff;
    text-align: center;
}